*{
    padding: 0;
    margin: 0;
}

.clearfix{
    clear: both;
}

.container{
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    
}

#head{
    background-image: url("../images/Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 1000px;
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav a{
            display: inline-block;
            font-size: 32px;
            margin-right: 100px;
            text-decoration: none;
            color: white;
        }
        a:hover{
            color: white;
        }
        a:active{
            color: white;
        }
        a:visited{
            color: white;
        }
        
    }
}

header img{
    width: 100px;
    height: 100px;
}

h1{
    text-transform: uppercase;
    margin-top: 200px;
    max-width: 600px;
    font-size: 46px;
}

h2{
    margin-top: 50px;
    font-size: 34px;
    max-width: 600px;
}

#main-top{
    background-image: url("../images/Untitled-2.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    height: 700px;
    width: 100%;
    p{
        color: #e1e1e1; 
        font-size: 18px;
    }
    .main-top-left{
        float: left;
        width: 50%;
        margin-top: 150px;
    }
    .main-top-right{
        float: left;
        width: 50%;
        margin-top: 50px;
    }
}

.pText{
    color: black;
    font-size: 40px;
}

.pText1{
    color: black;
    font-size: 26px;
}

#main-middle{
    background-color: white;
    height: 700px;
    width: 100%;
    .main-middle-left{
        float: left;
        width: 50%;  
    }
    .main-middle-right{
        float: left;
        width: 50%;  
    }
    p{
        color: #e1e1e1;
        font-size: 18px;
    }
}

#lower-text{
    float:left;
    margin-top: 50px;
    p{
       color: #999999;
        font-size: 24px;
    }
    
}

#main-bottom{
    background-color: white;
    background-image: url(../images/Untitled-7.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    width: 100%;
    p{
        color: white;
        font-size: 20px;
    }
    p:first-child{
        padding-top: 125px;
        font-size: 36px;
    }
}

#main-bottom-left{
    width: 50%;
    float: left;
}

#main-bottom-right{
    width: 50%;
    display: flex;
    img{
        align-self: center;
        margin-top: 150px;
    }
    button{
    display: flex;
    font-size: 24px;
    color: #66a900;
    height: 75px;
    background-color: white;
    border: 3px solid #66a900;
    margin-top: 110px;
    margin-left: 10px;
    font-weight: 700;
}
}

.circle{
    width: 75px;
    height: 75px;
    background-color: white; 
    border-radius: 50%;
    border-size: 5px solid #66a900;
    .inner-circle{
    width: 50px; 
    height: 50px;
    background-color: #66a900;
    border-radius: 50%;
    color: white;
    p{
        display: flex;
        padding-top: 14px;
        justify-content: center;
    }
  }
}

#features-left{
    float: left;
    width: 60%;
}

#features-right{
    float: right; 
    width: 40%;
}

#features-left-top{
    height: 100px;
    float: left;
    .pText{
        margin-left: 100px;
    }
}

#lorem{
    height: 100px;
    float: left;
    color: #e1e1e1; 
}

#rest-text{
    float: left;
    height: 600px;  
    img{
        margin-left: 20px;
    }
}

.bolded{
    font-weight: 700;
    color: black;
    font-size: 20px;
}

#testimonial-left{
    float: left;
    width: 60%;
    img{
        margin-left: 100px;
    }
}

#testimonial-right{
    float: left;
    width: 40%;
    p:first-child{
        margin-left: 100px;
    }
    p:nth-child(2){
        margin-left: 100px;
        margin-top: 100px;
        color: #e1e1e1;
        font-family: cursive;
    }
    p:nth-child(3){
        margin-left: 175px;
        color: black;
        font-weight: 700;
        margin-top: 25px;
    }
        p:nth-child(4){
        margin-left: 175px;
        color: #e1e1e1;
        margin-top: 20px;
        
    }
}

    #pricing{
        height: 300px;
        background-color: white;
        width: 100%;
        float: left;
        p:first-child{
            margin-top: 100px;
            margin-left: 100px;
        }
        p:nth-child(2){
            margin-top: 50px;
            margin-left: 100px;
        }
        p{
            color: #e1e1e1; 
            margin-left: 100px;
        }
    }

#pricing-bottom{
    height: 800px;
    width: 100%;
    background-image: url(../images/bottomshadow.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.prices-left{
    float: left;
    height: 500px;
    width: 350px;
    margin-left: 225px;
    margin-top: 100px;
    background-color: #efeeee;
        p:first-child{
        margin-left: 135px;
        font-weight: 700;
        font-size: 40px;
        margin-top: 50px;
    }
        p:nth-child(2){
        color: #e1e1e1;
        margin-left: 100px;
        font-size: 18px;
        margin-top: 5px;
    }
    
}

.prices-middle{
    float: left;
    height: 500px;
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px; 
    background-color: #efeeee;
        p:first-child{
        margin-left: 135px;
        font-weight: 700;
        font-size: 40px;
        margin-top: 50px;
    }
        p:nth-child(2){
        color: #e1e1e1;
        margin-left: 105px;
        font-size: 18px;
        margin-top: 5px;
    }

    
}

.prices-right{
    float: left;
    height: 500px;
    width: 350px;
    margin-top: 100px;
    background-color: #efeeee;
    background-image: url(../images/thirdshadow.png);
    background-repeat: no-repeat;
    background-position: bottom;
    p:first-child{
        margin-left: 135px;
        font-weight: 700;
        font-size: 40px;
        margin-top: 50px;
    }
    p:nth-child(2){
        color: #e1e1e1;
        margin-left: 100px;
        font-size: 18px;
        margin-top: 5px;
    }
    button{
        width: 100%;
        margin-top: 50px;
        height: 50px;
        background-color: #f6f6f6;
        text-transform: uppercase;
        color: #aaaaaa;
    }
    
}

